.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #23554b;
  padding: 15px;
  border-radius: 30px;
  color: #23554b;
  background-image: url("./img/background.png");
}

.Weather h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 20px 0 5px 0;
  line-height: 30 px;
  color: #134137;
  text-shadow: 2px 2px 8px #c1dbd1;
}

.Weather ul {
  margin: 0;
  padding: 0;
  color: #23554b;
}

.Weather li {
  font-size: 20px;
  font-weight: 200;
  line-height: 19px;
  list-style: none;
  text-shadow: 2px 2px 8px #c5e2ba;
}
.Weather img {
  height: 80px;
  width: 80px;
  display: inline-block;
  margin-right: 12px;
  color: #23554b;
}

.Weather .temperature {
  font-weight: bold;
  color: #23554b;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather .unit {
  color: #23554b;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 5px;
}
